
*.pyc
*.pyc
*.pyc
*.ipynb
.ipynb_checkpoints/maker-checkpoint.ipynb
.ipynb_checkpoints/maker-checkpoint.ipynb
.ipynb_checkpoints/maker-checkpoint.ipynb
__pycache__/region.cpython-37.pyc
__pycache__/mk_table.cpython-37.pyc
*.pyc
*.pyc
*.pyc
*.ipynb
.ipynb_checkpoints/maker-checkpoint.ipynb
.vscode/settings.json
